@{
  Layout = "_Layout";
}

<h1>Dr. Sillystringz Factory</h1>
<p>@Html.ActionLink("See a list of all engineers", "Index", "Engineers")</p> 
<p>@Html.ActionLink("See all Courses", "Index", "Courses")</p> 